language: cpp
sudo: required
dist: trusty

addons:
  apt:
    packages:
      - doxygen
      - language-pack-en
      - zip
      - unzip
      - curl
      - git
      - build-essential
      - cmake
      - automake
      - autoconf
      - libtool
      - libboost-all-dev
      - libasio-dev
      - ssh
      - pdsh
      - openjdk-8-jdk-headless
      - sysv-rc-conf
      - ant
      - libcppunit-dev
      - libtool
      - libc6-dbg

env:
  global:
    - JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64/jre
    - CLASSPATH=$HOME/hadoop/share/hadoop/hdfs/*:$HOME/hadoop/share/hadoop/common/*

before_install:
  - ./.ci/install/protobuf.sh
  - ./.ci/install/hadoop.sh
  - ./.ci/install/zookeeper.sh
  - ./.ci/install/google-test.sh
  - ./.ci/install/google-mock.sh
  - export PATH=$HOME/hadoop/bin:$PATH

before_script:
  - ./.ci/test/prepare.sh

script:
  - ./.ci/test/lint.sh
  - ./.ci/test/main.sh

after_success:
  - ./.ci/publish/docs.sh
